CompileFlags:
  Add: [
    -Isrc, 
    -std=c++17, 
    -xc++, 
    -Wall, 
    -Wextra, 
    -Werror, 
    -I/Users/tuukkav/Documents/GitHub/SaplingEngine/SaplingEngine,
    -I/opt/homebrew/include,
    -I/Users/tuukkav/Documents/GitHub/SaplingEngine/thirdparty
    ]

Diagnostics:
  UnusedIncludes : None
  Includes: 
    IgnoreHeader: ".*/quad\\.h$"
  ClangTidy:
    Add: [
      performance-*, 
      portability-*, 
    ]
    Remove: [
      modernize-use-using,
      cppcoreguidelines-pro-type-union-access,
      cppcoreguidelines-pro-type-member-init,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-special-member-functions,
      readability-uppercase-literal-suffix,
      readability-magic-numbers,
      readability-identifier-length,
      readability-braces-around-statements
    ]

