# Config
*.clangd
*.vscode
*.sln
*.zed

# Compiled & Build
Build/
*.dll
*.com
*.class
*.exe
*.o
*.so

# Logs & temp
*.log
temp/

# OS garbage
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.ehthumbs.db
Thumbs.db

